/* Button.css */
.button2 {
    display: inline-block; /* Change display to block to ensure each button is on a new line */
    margin: 0 10px; /* Add margin space above and below each button */
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button2:hover {
    background-color: #3e8e41;
  }
  
  .button2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  