
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #99e0a4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.App-link {
  color: #09064a;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #99e0a4;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
  height: 80px;  /* Adjust size as necessary */
  margin-right: 20px; /* Adds some space between the logo and the navbar links */
}

.navbar-links {
  display: flex;
}

.nav-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #09064a;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for Task page */
.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.points {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgb(40, 175, 219);
  padding: 5px 10px;
  border-radius: 20px;
}

.task-buttons {
  margin-top: 10px;
  background-color: lightblue;
  padding: 10px;
  margin-bottom: 50 px;
}

.task-buttons button {
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: 5px;
}
