/* Styles for GroupsPage */
body {
  background-color: #99e0a4; /* Set your desired background color */
}

.group-page {
  display: flex;
  background-color: #99e0a4;
}

.group-list {
  flex: 1; /* Take remaining space */
  background-color: #99e0a4;
  padding: 20px;
  overflow-y: auto; /* Add scrollbar if content exceeds height */
}

.group-list h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.group-list ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.group-list li {
  text-align: left; /* Align items to the left */
}

.group-list button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #e0e0e0; /* Lighter gray by default */
  margin-bottom: 5px; /* Adjust margin between buttons */
}

.group-list button.active {
  background-color: #4CAF50; /* Green */
}

.group-list .active button {
  font-weight: bold;
  color: #09064a;
}

.group-leaderboard {
  flex: 2; /* Take double the space of group list */
  background-color: #99e0a4;
  padding: 20px;
  overflow-y: auto; /* Add scrollbar if content exceeds height */
}

.group-leaderboard h2 {
  margin-bottom: 20px;
}

.group-leaderboard ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.group-leaderboard li {
  margin-bottom: 10px;
  text-align: left; /* Align items to the left */
}
