/* Styles for GroupsPage */
.group-page {
    display: flex;
    justify-content: space-between;
  }
  
  .group-list {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }
  
  .group-list h2 {
    margin-bottom: 20px;
  }
  
  .group-list ul {
    list-style: none;
    padding: 0;
  }
  
  .group-list li {
    margin-bottom: 10px;
  }
  
  /* New styles for active group */
  .group-list .active {
    font-weight: bold;
    color: #4CAF50; /* Adjust the color as needed */
  }
  
  .group-leaderboard {
    width: 60%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
  }
  
  .group-leaderboard h2 {
    margin-bottom: 20px;
  }
  
  .group-leaderboard ul {
    list-style: none;
    padding: 0;
  }
  
  .group-leaderboard li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  