.account-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #66cc8a; /* Lighter green background for visibility */
    padding: 10px;
    border-radius: 5px;
  }
  
  .account-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;  /* Diameter of the circle */
    height: 100px; /* Diameter of the circle */
    border-radius: 50%; /* Makes the div circular */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    font-size: 16px; /* Text size */
    position: absolute; /* Allows positioning anywhere */
    top: 50%; /* Default position: adjust these values in component style or inline style */
    left: 50%; /* Default position: adjust these values in component style or inline style */
    transform: translate(-50%, -50%); /* Centers the button */
    cursor: pointer; /* Pointer cursor on hover */
  }